<?xml version='1.0' encoding='utf-8'?><widget id="com.pocketfurc.client" version="0.31" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>PocketFurc</name>
    <description>A rudimentary Furcadia client.</description>
    <author email="ftp.dump@gmail.com">cluracan</author>
    <content src="plugins/org.chromium.bootstrap/chromeapp.html"/>

   <preference name="android-minSdkVersion" value="14"/>
   <preference name="android-targetSdkVersion" value="19"/>

<access origin="http://www.furcadia.com/*"/></widget>