<div id="header">
   <span class="left">
      <img class="logo" src="img/logo.png" />
      <img class="logo-text" src="img/logo-text.png" />
   </span>
   <span class="right">
      <div class="players-visible-button" title="Nearby players">
         <img class="icon" src="/img/players-visible-icon.png" />
         <div class="count-container">
            <div class="count"></div>
         </div>
      </div>
      <img class="reconnect-button" title="Reconnect" src="/img/reconnect-button.png" />
      <img class="menu-button" src="img/settings-button.png" />
   </span>
</div>
