<div id="header">
	<span class="left">
		<img class="logo" src="img/logo.png" />
		<img class="logo-text" src="img/logo-text.png" />
	</span>
	<span class="right">
		<img class="reconnect-button" src="/img/reconnect-button.png" />
		<img class="menu-button" src="img/settings-button.png" />
	</span>
</div>
