<div class="dialog-base character-picker-dialog">
	<div class="contents">
		<div class="title">Choose Your Character</div>
		<div class="characters">
		</div>
		<div class="dialog-button cancel-button enabled"><div class="dialog-button-label">CANCEL</div></div>
	</div>
</div>
