<div class="chat-input">
   <img class="mode" />
   <span class="placeholder">...</span>
	<div class="spacer"></div>
   <div class="send"></div>
   <div class="text" contentEditable="true" tabIndex="0"></div>
</div>
