<div class="chat-input-floating-tool">
   <div class="content maximized">
      <div class="styles">
         <div class="container"><div class="bold button"></div></div>
         <div class="container"><div class="italic button"></div></div>
         <div class="container"><div class="underline button"></div></div>
      </div>
      <div class="link">
         <input class="url" tabindex="0" />
         <div class="overlay">URL</div>
      </div>
   </div>
   <div class="content minimized">
      <div class="icon"></div>
   </div>
   <div class="tail"><img src="img/input-tool-tail.svg" /></div>
</div>
