<div class="fancy-block speech echo">
	<div class="content-container">
		<div class="head">
			<span class="player" data-username="{{name}}">You</span> say,
		</div>
		<div class="content"></div>
		<div class="age"></div>
	</div>
	<div class="arm" />
</div>
