<div class="fancy-block whisper">
	<div class="arm" />
	<div class="content-container">
		<div class="head">
			<span class="username" data-username="{{name}}">{{name}}</span> whispers to you,
		</div>
		<div class="content"></div>
		<div class="age"></div>
	</div>
</div>
