<div class="fancy-block whisper echo">
	<div class="content-container">
		<div class="head">
			You whisper to <span class="username" data-username="{{name}}">{{name}}</span>,
		</div>
		<div class="content"></div>
		<div class="age"></div>
	</div>
	<div class="arm" />
</div>
