<div class="fancy-block speech">
	<div class="arm" />
	<div class="content-container">
		<div class="head">
			<span class="username" data-username="{{name}}">{{name}}</span> says,
		</div>
		<div class="content"></div>
		<div class="age"></div>
	</div>
</div>
