<div class="login-prompt">
	<div class="contents">
		<input class="field name required empty" autofocus="autofocus">
		<input type="password" class="field password required empty">
		<div class="test-server-opt"><input type="checkbox">Test Server</div>
		<div class="error"></div>
		<div class="login-button"><div class="label">LOGIN</div></div>
		<div class="working">
			<img src="img/login-prompt-working.gif"><br/>
			Fetching character...
		</div>
	</div>
</div>
