<div class="login-prompt">
	<div class="contents">
		<input class="name required empty" autofocus="autofocus" />
		<input type="password" class="password required empty" />
		<div class="error"></div>
		<div class="login-button"><div class="label">LOGIN</div></div>
		<div class="working">
			<img src="img/login-prompt-working.gif" /><br/>
			Fetching character...
		</div>
	</div>
</div>
