<div class="login-dialog dialog-base">
	<div class="contents">
		<input class="field email required empty" autofocus="autofocus">
		<input type="password" class="field password required empty">
		<div class="remember">
			<input type="checkbox"> Remember
		</div>
		<div class="error"></div>
		<div class="dialog-button login-button"><div class="dialog-button-label">LOGIN</div></div>
		<div class="working">
			<img src="img/login-prompt-working.gif"><br/>
			Fetching account...
		</div>
	</div>
</div>
