body
{
   font-family: sans-serif;
   margin: 0 0;
   font-size: 1em;
   display: flex;
   flex-direction: column;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

#header
{
   display: table;
   width: 100%;
   position: relative;
	z-index: 1;
}

#header > .header
{
   background-color: rgb(160, 129, 202);
   font-size: 2em;
   padding: 0.25em 0.5ex;
   display: flex;
   flex-direction: row;
}

#header > .header > .left
{
   display: flex;
   flex-direction: row;
   align-items: center;
   width: 100%;
}

#header > .header > .left > .logo
{
   width: auto;
   height: 1.25em;
}

#header > .header > .left > .logo-text
{
   width: auto;
   height: 1em;
   margin: auto 1ex;
}

#header > .header > .right
{
   height: 100%;
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
   align-items: center;
   margin-left: auto;
}

#header > .header > .right > *
{
   flex-shrink: 0;
   flex-grow: 0;
}

#header > .header > .right > .button
{
   height: 1em;
   cursor: pointer;
   margin-top: 0.25em;
   margin-right: 1ex;
   display: none;
   position: relative;
}

#header > .header > .right > .button .icon
{
   height: 0.8em;
}

#header > .header > .right > .button .count-container
{
   margin-top: -0.85em;
   margin-left: -28%;
}

#header > .header > .right > .button .count
{
   width: 1em;
   height: 1em;
   border-radius: 2em;
   padding: 0.334em;
   background-color: rgba(255,0,0,1);
   color: white;
   font-family: sans-serif;
   font-weight: bold;
   text-align: center;
   font-size: 0.5em;
   display: inline-block;
}

#header > .header > .right > .menu-button
{
   height: 1em;
   cursor: pointer;
}

#header > .shadow
{
   height: 1.25em;
   margin-bottom: -1.25em;
   background: linear-gradient( rgba(0,0,0,0.2), rgba(0,0,0,0) );
}

#header > .status
{
   background: linear-gradient( rgba(0, 0, 0, 0.53), rgba(0, 0, 0, 0.32) );
   height: 1.25em;
   padding: 0.5em 1ex;
   margin-bottom: -2.25em;
   font-size: 1.25em;
   text-align: center;
   white-space: nowrap;
   color: white;
}

#content
{
   height: 100%;
   display: flex;
   flex-direction: column;
}

#content > .chat-area
{
   font-family: sans-serif;
   height: 100%;
   font-size: 0.95em;
}

#content .chat-buffer
{
   min-height: 1em;
}

#content .chat-buffer  > .alert-area
{
   position: relative;
   margin: -2.5em 2ex 0 2ex;
}

#content .chat-buffer  > .alert-area > .new-line-alert
{
   width: 2ex;
   height: 2em;
   display: none;
   -webkit-animation: NEW-LINE-ALERT-ANIMATION 0.5s infinite alternate ease-in-out;
   cursor: pointer;
   box-shadow: 0 0.1em 0.4em rgba(0,0,0,0.5)
}

@-webkit-keyframes NEW-LINE-ALERT-ANIMATION
{
   0% { -webkit-transform: scale( 1.0 ); }
   100% { -webkit-transform: scale( 1.15 ); }
}

#content .chat-buffer > .buffer
{
   overflow-y: auto;
   -webkit-user-select: text;
   background-color: white;
   color: black;
   height: 100%;
}

#content .chat-buffer > .buffer > .line
{
   margin: 0.65em 0.5ex;
   word-break: break-word;
   line-height: 135%;
}

#content .chat-buffer > .line > .timestamp
{
   margin-right: 0.25ex;
   font-family: monospace;
   font-size: 0.85em;
   color: #999;
}

#content .chat-buffer .raw-chat
{
   font-style: monospace;
   color: black;
}

#content .chat-buffer .fancy-block
{
   width: 93%;
   display: flex;
   flex-direction: row;
   margin: 0 auto;
}

#content .chat-buffer .fancy-block.echo
{
   margin: 0 1ex 0 auto;
}

#content .chat-buffer .fancy-block > .arm
{
   align-self: flex-start;
   width: 50px;
   height: 41px;
   background-repeat: no-repeat;
   background-size: 100%;
   margin: 0 -1ex 0 0;
}

#content .chat-buffer .fancy-block.echo > .arm
{
   align-self: flex-end;
   -webkit-transform: scale( -1, -1 );
   margin: 0 0 0 -1ex;
}

#content .chat-buffer .fancy-block > .content-container
{
   width: 100%;
   padding: 0.5em 2ex;
   color: black;
   font-family: sans-serif;
   font-size: 1em;
   cursor: text;
}

#content .chat-buffer .fancy-block > .content-container > .content
{
   margin: 0 1.5ex;
}

#content .chat-buffer .fancy-block > .content-container > .age
{
   text-align: right;
   font-size: 0.8em;
   color: rgb(153,153,153);
   font-style: italic;
   margin-top: 0.2em;
}

#content .chat-buffer .fancy-block > .content-container > .content > .line
{
   margin: 0.25em 0;
   word-break: break-word;
}

#content .chat-buffer .fancy-block > .content-container > .content > .line:last-child
{
   margin: 0 0;
}

#content .chat-buffer .fancy-block > .content-container > .content > .line:first-child
{
   margin: 0 0;
}

#content .chat-buffer .fancy-block > .content-container > .head
{
   font-size: 1em;
   color: black;
   margin: 0.25ex 0 0.5em 0;
}

#content .chat-buffer .fancy-block > .content-container .player
{
   font-size: 1.15em;
   color: rgb(255,127,42);
   font-weight: bold;
   cursor: pointer;
}

#content .chat-buffer .fancy-block.echo > .content-container .player
{
   color: rgb(34, 170, 240);
}

#content .chat-buffer .fancy-block.whisper.echo > .content-container .player
{
   color: rgb(255,127,42);
}

#content .chat-buffer .fancy-block.whisper > .arm
{
   background-image: url("img/chat-balloon-arm-whisper.svg");
}

#content .chat-buffer .fancy-block.whisper > .content-container
{
   background-color: rgb(66,66,66);
   color: white;
}

#content .chat-buffer .fancy-block.whisper > .content-container > .head
{
   color: white;
}

#content .chat-buffer .fancy-block.speech > .arm
{
   background-image: url("img/chat-balloon-arm-speech.svg");
}

#content .chat-buffer .fancy-block.speech > .content-container
{
   background-color: rgb(255,237,168);
   color: black;
}

#content .chat-buffer .fancy-block.emote > .arm
{
   background-image: url("img/chat-balloon-arm-emote.svg");
}

#content .chat-buffer .fancy-block.emote > .content-container
{
   color: black;
   border-radius: 0.6em;
   border: 1px solid rgba(128,128,128,0.33);
}

#content .chat-buffer .fancy-block.emote
{
   margin: 0 auto;
}

#content .chat-buffer .fancy-block.emote > .content-container > .content
{
   margin: 0 0;
}

#content .chat-buffer .fancy-block.emote > .content-container > .content > .line
{
   text-align: center;
   font-style: italic;
}

#content .chat-buffer .fancy-block.system > .content-container
{
   background-color: rgb(255,123,123);
   color: white;
   border-radius: 0.6em;
}

#content .chat-buffer .fancy-block.system > .content-container > .age
{
   color: rgb(228,228,228);
}

#content .chat-buffer .fancy-block.system > .content-container > .content .player
{
   color: rgb(218, 255, 206);
}

#content .chat-buffer .fancy-block.system
{
   margin: 0 auto;
}

#content .chat-buffer .fancy-block.system > .content-container > .content
{
   margin: 0 0;
}

#content .chat-input
{
   background-color: white;
   /*overflow: hidden;*/
   border-top: 2px solid rgb(198,198,198);
   padding: 0.9em 1ex;
   word-break: break-word;
   font-size: 1.1em;
   cursor: text;
   min-height: 1em;
}

#content .chat-input > .text
{
   outline: none;
   font-size: 1.0em;
   font-family: sans-serif;
   color: black;
   margin: 0 0.5ex;
}

#content .chat-input > .mode
{
   height: 1.5em;
   float: left;
   margin: -0.3em 1.25ex 0 0;
   cursor: pointer;
}

#content .chat-input > .clear
{
   clear: both;
}

#content .chat-input > .spacer
{
	float: right;
	height: 0;
}

#content .chat-input > .send
{
   width: 1.5em;
   height: 1.5em;
   display: inline-block;
   background-image: url("img/chat-send.png");
   cursor: pointer;
   background-size: 100% 100%;
   background-repeat: no-repeat;
   float: right;
	clear: right;
   margin: -0.25em 0 0 1ex;
}

#content .chat-input > .send.empty
{
   background-image: url("img/chat-send-disabled.png");
}

#content .chat-input > .placeholder
{
   font-style: italic;
   color: rgb( 200, 200, 200 );
   font-family: sans-serif;
   font-size: 1.0em;
	float: left;
}

.modal-cover
{
   width: 100%;
   height: 100%;
   background-color: rgba( 0, 0, 0, 0.25 );
   display: flex;
   align-items: center;
   justify-content: center;
   position: absolute;
   left: 0;
   top: 0;
	z-index: 100;
}

.modal-cover.clear
{
   background-color: initial;
}

body .login-prompt
{
   background-color: rgb( 155, 114, 165 );
   box-shadow: 0 10px 18px rgba(0,0,0,0.6);
   width: 60%;
   max-width: 35ex;
   min-width: 16ex;
   transform: scale( 0.1, 0.1 );
   transition: transform 0.5s;
}

body .login-prompt.expanded
{
   transform: scale( 1, 1 );
}

body .login-prompt > .contents
{
   padding: 2ex;
}

body .login-prompt > .contents > input
{
   padding: 0.4em;
   border: 0;
   border-radius: 0.5em;
   background-color: white;
   text-align: center;
   color: black;
   margin: 0 auto 1em auto;
   display: block;
   width: 90%;
   font-size: 1.1em;
   background-repeat: no-repeat;
   background-position: 50%;
}

body .login-prompt > .contents > input.name.empty:not(:focus)
{
   background-image: url( "img/login-name-bg.png" );
   background-size: auto 35%;
}

body .login-prompt > .contents > input.password.empty:not(:focus)
{
   background-image: url( "img/login-pw-bg.png" );
   background-size: auto 55%;
}

body .login-prompt > .contents > .login-button
{
   cursor: pointer;
   width: 80%;
   text-align: center;
   padding: 0.25em 1.0ex;
   border-radius: 0.9em;
   margin: 0 auto;
   color: #CCC;
   background-color: #999;
}

body .login-prompt > .contents > .login-button.enabled
{
   color: white;
   background-color: rgb(255,127,42);
}

body .login-prompt > .contents > .login-button > .label
{
   font-weight: bold;
   font-size: 1.5em;
   transform: scale( 1.1, 0.8 );
}

body .login-prompt > .contents > .working
{
   display: none;
   text-align: center;
   margin: 0 auto;
   text-align: center;
   vertical-align: middle;
   color: white;
}

body .login-prompt > .contents > .error
{
   display: none;
   font-size: 0.9em;
   color: rgb(111, 44, 44);
   text-align: center;
   margin-bottom: 0.8em;
   font-style: italic;
}

.modal-cover .popup-menu
{
   display: inline-block;
   padding: 0.6em 2ex;
   color: white;
   font-size: 1em;
   text-align: right;
   box-shadow: 0 8px 14px rgba(0,0,0,0.5);
   position: absolute;
   background-color: rgb(77,77,77);
   margin: 0.5em 2ex;
}

.modal-cover .popup-menu > .section:not(:last-child)
{
   border-bottom: 1px solid white;
   margin-bottom: 0.75em;
}

.modal-cover .popup-menu > .section > .item
{
   margin: 0.5em 0;
   white-space: nowrap;
   cursor: pointer;
}

.modal-cover .popup-menu > .section > .item:hover
{
   text-decoration: underline;
}

.modal-cover .popup-menu > .section > .item.disabled
{
   margin: 0.4em 0;
   font-weight: normal;
   color: #777;
}

.modal-cover .popup-menu > .section > .item.centered
{
   text-align: center;
}

.modal-cover .popup-menu > .section > .item > .check
{
   width: 1em;
   height: 1em;
   background-image: url("img/popup-menu-check.png");
   background-size: 100%;
   background-repeat: no-repeat;
   display: inline-block;
   vertical-align: middle;
   margin-right: 1ex;
}

.chat-input-floating-tool
{
   position: absolute;
   display: inline-block;
   padding-bottom: 0.85em;
   opacity: 0.5;
}

.chat-input-floating-tool:hover
{
   opacity: 1.0;
}

.chat-input-floating-tool > .content
{
   background-color: rgb(160,129,202);
   border-radius: 0.5em;
   margin: auto;
}

.chat-input-floating-tool > .content.minimized
{
   text-align: center;
   border-bottom-left-radius: 0;
   border-bottom-right-radius: 0;
   width: 24px;
   padding: 4px 4px 0 4px;
   cursor: pointer;
}

.chat-input-floating-tool > .content.minimized > .icon
{
   background-image: url("img/input-tool-icon.png");
   background-repeat: no-repeat;
   background-size: 100%;
   width: 16px;
   height: 27px;
   margin: auto;
}

.chat-input-floating-tool > .tail
{
   margin: auto;
   text-align: center;
   pointer-events: none;
}

.chat-input-floating-tool > .tail > img
{
   width: 32px;
   height: 23px;
}

.chat-input-floating-tool > .content.maximized
{
   max-width: 16ex;
   padding: 12px;
}

.chat-input-floating-tool > .content.maximized > .styles
{
   display: flex;
   flex-direction: row;
   justify-content: center;
}

.chat-input-floating-tool > .content.maximized > .styles > .container
{
   margin: 0 auto;
}

.chat-input-floating-tool > .content.maximized > .styles .button
{
   cursor: pointer;
   background-size: 95%;
   background-repeat: no-repeat;
   background-position: center;
   width: 1.75em;
   height: 1.75em;
   border-radius: 0.334em;
}

.chat-input-floating-tool > .content.maximized > .styles .button.on
{
   background-color: rgba(255,255,255,0.25);
}

.chat-input-floating-tool > .content.maximized > .styles .button.bold
{
   background-image: url("img/input-bold.png");
}

.chat-input-floating-tool > .content.maximized > .styles .button.italic
{
   background-image: url("img/input-italic.png");
}

.chat-input-floating-tool > .content.maximized > .styles .button.underline
{
   background-image: url("img/input-underline.png");
}

.chat-input-floating-tool > .content.maximized > .link
{
   margin-top: 12px;
}

.chat-input-floating-tool > .content.maximized > .link .url
{
   display: block;
   font-size: 1em;
   color: black;
   background-color: white;
   font-family: sans-serif;
   padding: 0.25em;
   border: 0;
   margin: 0 auto;
   box-sizing: border-box;
   width: 100%;
   border-radius: 0.334em;
}

.chat-input-floating-tool > .content.maximized > .link .overlay
{
   margin: -1.25em auto 0 auto;
   color: rgb(128,128,128);
   font-size: 1em;
   font-style: italic;
   font-family: sans-serif;
   pointer-events: none;
   text-align: center;
}

#content .chat-input > .text .selection
{
	background-color: rgba( 255, 0, 0, 0.2 );
}

#content .chat-input > .text .bold
{
   font-weight: bold;
}

#content .chat-input > .text .italic
{
   font-style: italic;
}

#content .chat-input > .text .underline
{
   text-decoration: underline;
}

#content .chat-input > .text .link
{
   font-weight: bold;
   color: blue;
}
